#contribute {
    font-family: var(--primary-font);
}
#contribute > h1 {
    margin-left: 25px;
    margin-top: 40px;
    margin-bottom: 29px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    color: #22DB8A;
}
.contribute__cards {
    padding: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    gap: 35px;
}
.card {
    width: 50%;
}

.cover {
    height: 400px;
    background-color: #22d8898e;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cover > img {
    object-fit: cover;
    width: 320px;
    pointer-events: none;
}

.card:nth-of-type(2) {
    text-align: right;
}
.card:nth-of-type(1) > p {
    padding-right: 20px;
}
.card:nth-of-type(2) > p {
    padding-left: 20px;
}
