.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    margin-top: 10px;
}

.item h1 {
        margin-left: 25px;
        margin-top: 10px;
        margin-bottom: 29px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        color: #22DB8A;
    
}

.item__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding: 10px 80px;
}
.item__container::-webkit-scrollbar {
    display: none;
}

.itemCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.74rem;
    background: #F3F5F7;
    box-shadow: -3px -3px 6px #FFFFFF, 3px 3px 6px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    cursor: pointer;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    flex-shrink: 0;
    text-decoration: none;
}

.itemCard img {
    border-radius: 10px;
    width: 140px;
    height: 120px;
}

.itemCard h3 {
    font-size: 18px;
    align-items: center;
    letter-spacing: 0.01em; 
    color: var(--text-primary);
    margin-top: 15px;
    margin-bottom: 10px;
}
.itemCard p {
    font-size: 12px;
    align-items: center;
    letter-spacing: 0.01em;
    color: rgba(85, 85, 85, 0.6);
    margin-top: -0.25rem;
}




@media (min-width: 992px) and (max-width: 1380px) {

}


@media screen and (max-width: 992px) {
    .item {
        margin-top: 2rem;
    }
    .item h1 {
        font-size: 1.65rem;
    }
    
    
}

@media screen and (max-width: 800px) {
    .item h1 {
        font-size: 1.55rem;
    }
    .itemCard img {
        border-radius: 10px;
        width: 120px;
        height: 100px;
    }
    .itemCard h3 {
        font-size: 17px;
    }
    .itemCard p {
        font-size: 11px;
    }
    
}

@media screen and (max-width: 600px) {
    
    
}

@media screen and (max-width: 400px) {

} 