.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.profile__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(170, 214, 240);
    width: 100%;
    border-radius: 0 0 50% 50%;
    padding: 2rem 0;
}

.logout {
    outline: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0.65rem 1.45rem;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    background: var(--white);
    border-radius: 10px;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-style: normal;
}

.profile__header__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
    font-style: normal;
}

.profile__header__info h1 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    line-height: 90%;
    margin-top: 0.5rem;
}
.profile__header__info p {
    font-weight: 600;
    font-size: 1.12rem;
    text-align: center;
    color: rgba(63, 63, 63, 0.7);
}

.phi_img {
    position: relative;
}

.phi_img img {
    width: 212px;
    height: 212px;
    border-radius: 50%;
}

.edit_image {
    position: absolute;
    bottom: 10%;
    right: 10%;
    color: #FFFFFF;
    cursor: pointer;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    padding: 0.25rem;
    flex-shrink: 0;
    border-radius: 50%;
}

.profile__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    margin-top: 3rem;
    padding: 2rem;
}

.profile_body_details {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 0.5rem;
    width: 100%;
    gap: 1rem;
}

.profile_body_details label {
    width: 20%;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--text-primary);
}

.profile_input_container {
    width: 75%;
    position: relative;
}

.profile__input_icon {
    position: absolute;
    top: 5px;
    left: 0.4rem;
    color: var(--primary-color);
    font-size: 1.80rem;
}

.edit__profile {
    width: 5%;
    font-size: 1.225rem;
    color: var(--primary-color);
    cursor: pointer;
}

.profile_input {
    outline: none;
    height: 40px;
    width: 100%;
    padding: 0.5rem;
    padding-left: 2.5rem;
    border: 3px solid #84CAF2;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: rgba(85, 85, 85, 0.7);
}

.profile__save {
    outline: none;
    border: none;
    padding: 0.65rem 1.25rem;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    background: var(--primary-color);
    border-radius: 12px;
    color: var(--white);
    font-family: var(--primary-font);
    font-style: normal;
    margin-top: 1.5rem;
}




@media (min-width: 992px) and (max-width: 1380px) {

}


@media screen and (max-width: 992px) {

    .phi_img img {
        width:182px;
        height: 182px;
        border-radius: 50%;
    }
    .profile__body {
        width: 80%;
        margin-top: 3rem;
    }
    .profile__header {
        border-radius: 0 0 30% 30%;
    }
}

@media screen and (max-width: 800px) {
    .profile__body {
        width: 100%;
        margin-top: 2rem;
        padding: 1rem;
    }
    .logout {
        top: 15px;
        right: 15px;
    }

    .profile__header__info {
        margin-top: 2.5rem;
    }

    .profile__header__info h1 {
        font-size: 2.15rem;
    }
    .profile__header__info p {
        font-size: 0.85rem;
    }

    .profile_body_details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0.5rem;
        width: 100%;
        gap: 0.1rem;
    }

    .profile_input_container {
        width: 100%;
        position: relative;
    }

    .edit__profile {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .profile__header__info h1 {
        font-size: 1.95rem;
    }
    .profile__header__info p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 400px) {

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}