.requests > h1 {
    margin-left: 25px;
    margin-top: 40px;
    margin-bottom: 29px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    color: #22DB8A;
    position: relative;
}
.requests > button {
    position: absolute;
    right: 80px;
    background-color: #22DB8A;
    color: white;
    border: none;
    outline: none;
    padding: 10px 20px;
}
.requests {
    margin-bottom: 90px;
}

.requestCard {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    height: 250px;
    margin: 0 50px;
    
    align-items: center;
    padding: 30px;
    background: #F3F5F7;
    box-shadow: -3px -3px 6px #FFFFFF, 3px 3px 6px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    cursor: pointer;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    flex-shrink: 0;
    text-decoration: none;
    margin-bottom: 90px;
}

.requestCard img {
    border-radius: 10px;
    width: 50%;
    max-height: 200px;
}

.requestCard h3 {
    font-size: 18px;
    align-items: center;
    letter-spacing: 0.01em; 
    color: var(--text-primary);
    margin-top: 15px;
    margin-bottom: 10px;
}
.requestCard > div > p {
    font-size: 12px;
    align-items: center;
    letter-spacing: 0.01em;
    color: rgba(85, 85, 85, 0.6);
    margin-top: -0.25rem;
    margin-top: 5px;
}
.requestCard > div > p:nth-of-type(4) > span {
    font-weight: bold;
}

.requestCard > div > p > span {
    font-size: 12px;
    align-items: center;
    letter-spacing: 0.01em;
    color: rgba(85, 85, 85, 0.6);
    margin-top: -0.25rem;
}

.requestCard > div {
    margin-left: 20px;
}


@media (min-width: 992px) and (max-width: 1380px) {

}


@media screen and (max-width: 992px) {
    .request {
        margin-top: 2rem;
    }
    .request h1 {
        font-size: 1.65rem;
    }
    
    
}

@media screen and (max-width: 800px) {
    .request h1 {
        font-size: 1.55rem;
    }
    .requestCard img {
        border-radius: 10px;
        /* width: 120px;
        height: 100px; */
    }
    .requestCard h3 {
        font-size: 17px;
    }
    .requestCard p {
        font-size: 11px;
    }
    
}