.login {
    height: 100vh;
    background: var(--bg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 800px) {
    .login__transform {
        transform: translateY(-3rem);
    }
}